--index-url https://download.pytorch.org/whl/cu124
--index-url https://pypi.org/simple
--find-links https://data.pyg.org/whl/torch-2.4.0+cu124.html
# Torch
torch
torchvision
torchaudio
# Torch Geometric
torch-geometric
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
# Project dependencies
-e .
wandb
h5py
numba
seaborn
git+https://github.com/Megvii-BaseDetection/YOLOX.git#egg=yolox
git+https://github.com/uzh-rpg/dsec-det.git#egg=dsec_det
git+https://github.com/facebookresearch/detectron2.git#egg=detectron2
