# Torch
--index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
# Torch Geometric
--find-links https://data.pyg.org/whl/torch-2.4.0+cu124.html
torch-geometric
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
# Others
--index-url https://pypi.org/simple
wandb
h5py
hdf5plugin
numba
seaborn
--index-url http://192.168.133.202:5001/simple
yolox
dsec_det
detectron2
-e .
